# CMake build files
build/
dist/
install/
CMakeFiles
*.so
*.so.*.*.*
*.a
*.dylib
*.stackdump
*.lib
*.pdb
*.dll
*.exe
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
uninstall.cmake
CTestCostData.txt
*.inst
Testing
*.log
*.dSYM

# Patterns for all subdirectories: all kinds of automatic backup files.
*.orig
*.rej
*~
*.kate-swp
*.swp
.#*
\#*#
.vscode
.cache

# Dist directory and temps
cppp-platform-*
__pycache__
