# Libplatform's gitignore

# Build output directory
build/

# Editor profile directory
.vscode/

# Autoconf temps
autom4te.cache/
aclocal.m4
configure

# Configure outputs
config.log
config.status

# Build outputs
include/libplatform.h
Makefile

# Dist directory
libplatform-*